<!DOCTYPE html>
<!--
Team Sharp Cat - Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao
SoftDev
K14 -- Form and Function
2020-12-09
-->

<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome to the SharpCat Flask Site
    </h1>
    <h2>
      Roster: Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao 
    </h2>
    <h3>
      Enter your username below to proceed.
    </h3>
	
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
  </body>
</html>
