<!--
Team Sharp Cat - Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao
SoftDev
K15 -- Sessions Greeting
2020-12-10
-->
<!DOCTYPE html>
<html>

<head>
  <title> Login </title>
</head>

<body>
  <!-- Display team name and roster -->
  <h1>
    Welcome to the SharpCat Flask Site
  </h1>
  <h2>
    Roster: Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao
  </h2>

  <!-- HTML form -->
  <h3>
    Enter your username and password below to proceed.
  </h3>
  <form action="/auth">
    Username <input type="text" name="username">
    <br></br>
    Password <input type="text" name="password">
    <br></br>
    <input type="submit" name="sub1">
  </form>
  <br>
</body>

</html>