<!--
Team Sharp Cat - Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao
SoftDev
K15 -- Sessions Greeting
2020-12-10
-->
<!DOCTYPE html>
<html>

<head>
  <title> Welcome </title>
</head>

<body>
  <!-- Display team name and roster -->
  <h1> Team SharpCat </h1>
  <h2>
    Roster: Victoria Gao, Alvin Wu, Jonathan Lee, Madelyn Mao
  </h2>
  Username Entered: {{ user }}
  <br><br>
  Request Method : {{ method }}
  <br><br>
  Bonjour, {{user}}!
  <br></br>

  <!-- Logout button -->
  <form action="/logout">
    <input type="submit" value="Logout">
  </form>

</body>

</html>